.resultContainer {
  width: 500px;
  width: 100%;
  min-height: 380px;
  height: 42dvh;
  overflow: hidden;
}

.head {
  font-size: 17px;
  font-weight: bold;
  margin-top: 5px;
  padding: 10px;
}

.loader {
  position: relative;
  width: fit-content;
  margin: auto;
  top: 30%;
}

.result {
  height: calc(100% - 48px);
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.result::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.result::-webkit-scrollbar-track {
  background: var(--thColor);
}

.result::-webkit-scrollbar-thumb {
  background: var(--tableScrollThumbColor);
  border-radius: 5px;
  cursor: pointer;
}


